.App {
  margin: 1em auto 0 auto;
  max-width: 400px;
}
.App .todo-editor {
  display: flex;
}
.App .todo-editor input[type=text] {
  flex-grow: 1;
  margin-right: 0.25em;
}
.App .todo-editor button {
  flex-grow: 0;
  padding: 0;
  margin: 0;
}
.App .todo-list {
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
}
.App .todo-item {
  margin-bottom: 0.5em;
  display: flex;
  line-height: 1;
}
.App .todo-item.completed {
  opacity: 0.4;
}
.App .todo-item label {
  display: flex;
  align-items: center;
}
.App .todo-item input[type=checkbox] {
  margin-right: 0.75em;
}
